@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm CTO and co-founder of <a href="http://betaup.com.br" target="_blank">Betaup</a>. i'm a developer of applications web with three years of experience. I have a graduation in Technology of Information and a postgraduate in development and project of applications web</p>
