@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Betaup - Evolution and Innovation in Software <br />
    Rua Joviano Correa da Silva, 227
    Aparecida | SP<br />
    <abbr title="Phone">P: (12) 3042-0327</abbr>
    1250-0000
    <a href="http://betaup.com.br" target="_blank">Betaup</a>
</address>

<address>
    <strong><a href="mailto:wenderdalber@gmail.com" target="_blank">wenderdalber@gmail.com</a></strong><br />
    <strong><a href="https://facebook.com/wenderdalber" target="_blank">facebook</a></strong><br />
    <strong><a href="https://twitter.com/wenderdalber" target="_blank">twitter</a></strong><br />
    <strong><a href="https://github.com/wenderdalber" target="_blank">github</a></strong><br />
</address>