@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Application MVC with Hangfire</h1>
    <p class="lead">A simple MVC application with hangfire and SQL SERVER as data base</p>
   
</div>

<div class="row">
    <p><a href="/Home/StartMessage" class="btn btn-primary btn-lg">Message</a></p>
    <p><a href="/Hangfire" class="btn btn-primary btn-lg">Hangfire Dashboard</a></p>
</div>